<title>Scarlet Dev Dash</title>

<%- include("_meta_tags"); -%>
<%- include("_jquery"); -%>
<%- include("_bootstrap"); -%>
<%- include("_fontawesome"); -%>
<%- include("_google_fonts") -%>
<%- include("_snippets"); -%>

<!--// Load Custom Global CSS //-->
<link rel="stylesheet" href="/css/global.css">

